<div class="col-lg-12">
    <div class="card">
        <div class="w3-bar"> 
            <div class="input-group">
                <div class="row align-items-center">
                  
                  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button type="button" class="btn btn-pill btn-block btn-primary" (click)="save();">Create</button>
                    </div> 
                    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                      <a [routerLink] = "'/neha/Email'"> <button type="button" class="btn btn-pill btn-block btn-primary">Email</button></a>
                    </div>
                   
                    <div class="form-group" >
                                
                        <div class="controls" >
                            <div class="input-group" >
  
                            <input id="appendedInputButtons" size="16" class="form-control" type="text" name= "search" [(ngModel)]="searchText">
                            <span class="input-group-append">
                            
                              <button class="btn btn-secondary" type="button" >Search</button>
                             
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
          </div>
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Bill
      </div>
      <div class="card-body">
       
        <html>
      <head>
         <style>
             th, td {
              
               width: 900px;
               height: 30px;
            }
           
         </style>
      </head>
   
      <body class="from">
        
         <table border="1">
            
            <tr>
               <th colspan="8" align="center"><strong>AGRAWAL DAIRY & MINI MARKET</strong><br>
                [Viman Nagar MAHARASHTRA-411014.]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GST No.27AIZPA4432B1ZF<br>
                Mob:-8446776779 &nbsp;&nbsp;Email:-payalagrawal6880@gmail.com&nbsp;&nbsp; FSSAI No.11513037009807
              </th>&nbsp;&nbsp;
               <th rowspan="8"><strong>AGRAWAL DAIRY & MINI MARKET</strong><br>
               Counter Slip<hr>
               Bill No:<br>
              Date:<br>
            Name:  
            <tr>
              <td>Des Of Goods</td>              
              <td>Qty</td>
              <td>Amount</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <hr>
              <tr>
                 
                  Gross Amt

                </tr>
                <tr>
                 
                  
                  GST Amt
                  </tr>
         </th>
      
            </tr>
            <tr>
                <th colspan="8">Bill No:-   <br>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date:-<br>
                    Name:- <br><br>
                    Address:-<br>     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;GST No: </th>
            
              
             </tr>
           
             
            <tr>
               <th>Sr No</th>
             <th>HSN CODE</th>
               <th>Description Of Goods</th>
               <th>Quantity</th>
               <th>Rate</th>
               <th>Gst%</th>
               <th>Gst Amt</th>
               <th>Amount</th>
            
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
             
             </tr>
             <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
             
             </tr>
             <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
             
             </tr>
             <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
             
             </tr>
            <tr>
                <td colspan="5">Amount(in words Indian Rs)  __________________ <br>
               <font size="2"> I/We here by certify that may/our are registration certificate under the GST Act,2017 is in force on <br>
              the date on which the sale of the good specified in this tax invoice is made by me/us and thet the <br>
            transaction of the sales covered by this tax invoice has been effected by me.us and it shall be <br>
          accounted for in the turnover of sales while filling of return and the due tax.If any,payable on the<br>
        sales has been paid or shall be paid <br><br>
       For-AGRAWAL DAIRY & MINI MARKET</font></td>
                <th colspan="3">Gross Amt:<br>
                  Discount:<br>
                  CGST:<br>
                  SGST:<br>
                  IGST:<br>
                  Net Amt:

                </th>
               
            </tr>
            
         </table>
         
      </body>
   </html>
      </div>
    </div>
  </div>

  <form (ngSubmit)="date12()">
  <div class="row" >
    <label class="col-sm-3 col-form-label">Date:- </label>
     <div class=" form-group col-sm-6">
        <input type="date" formControlName="dob" name="date" class="form-control" ngModel>
       </div>
    </div>
    <div>
    <label class="col-sm-3 col-form-label">Date:- </label>
     <div class=" form-group col-sm-6">
        <input type="text" formControlName="dob" name="name" class="form-control" ngModel>
       </div>
    </div>
<input type="submit" value="submit">
</form>